footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-info-text {
    color: #848484;
    font-family: Mulish;
    font-size: 17px;
}

.footer-hr {
    width: 90%;
    height: 0.6px;
    background: #c4c4c4;
    border: none;
}

.soshal-icon {
    margin: 4px 8px;
}
