@import "global.css"; /* Global */
@import "button.css"; /* Button */
@import "header.css"; /* HEADER */


.link-home-page {
    color: #202336;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin: 15px 15px;
}

.link-destinations-page {
    color: #B8BECD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px 15px;
}

.link-about-page {
    color: #B8BECD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px 15px;
}

.link-partner-page {
    color: #B8BECD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px 15px;
}

.login-button-in-header {
    background-color: #ffffff;
    color: #fb8f1d;
    border: 1px solid #FB8F1D;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
    font-family: Inter;
    font-size: 15px;
    margin: 15px 9px 15px 15px;
}

.register-button-in-header {
    background-color: #fb8f1d;
    color: #ffffff;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-family: Inter;
    font-size: 15px;
    padding: 8px 32px;
    margin: 15px 15px 15px 9px
}
.explore-and-travel-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.explore-and-travel-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.explore-and-travel-title {
    color: #202336;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
}

.holiday-finder-menu {
    color: #202336;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.holiday-finder-form {
    display: flex;
    flex-wrap: wrap;
}

.small-hr {
    width: 32px;
    height: 2px; 
    border-radius: 4px;
    background: #202336;
    margin-left: 2px;
}

.holiday-parameter-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4A4C53;
    font-family: Inter;
    font-size: 15px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border: 0.8px solid #AFB0B9;
    background-color: #ffffff;
    margin: 5px 30px 25px 0px;
}

.explore-button-in-explore-and-travel {
    background-color: #fb8f1d;
    color: #ffffff;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-family: Mulish;
    font-size: 17px;
    width: 150px;
    height: 42px;

}

.figure-explore-and-travel {
    width: 678px;
}

.img-explore-and-travel {
    width: 687px;
    height: 654px;
}
.a-new-way-title {
    color: #000000;
    font-family: Playfair Display;
    font-size: 36px;
}

.a-new-way-text {
    color: #7D7987;
    font-family: Mulish;
    font-size: 17px;
    margin: 0px 0px 30px 0px;
}
.featured-destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured-destinations-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.featured-destinations-title {
    color: #000;
    font-family: Playfair Display;
    font-size: 36px;
}

.featured-destinations-view-all {
    color: #FB8F1D;
    font-family: Inter;
    font-size: 17px;
    text-decoration: none;
    margin: 15px 30px;
}

.place_1 {
    width: 250px;
    height: 350px;
    background-image: url("image/plays-1.png");
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 10px;
    margin: 2px;
}

.place_2 {
    width: 250px;
    height: 350px;
    background-image: url("image/plays-2.png");
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 10px;
    margin: 2px;
}

.place_3 {
    width: 250px;
    height: 350px;
    background-image: url("image/plays-3.png");
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 10px;
    margin: 2px;
}

.place_4 {
    width: 250px;
    height: 350px;
    background-image: url("image/plays-4.png");
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 10px;
    margin: 2px;
}

.place-lable {
    position: relative;
    bottom: -285px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px 4px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-p-lable {
    color: #042521;
    font-family: Inter;
    font-size: 17px;
    margin: 2px;
}

.sub-p-lable {
    color: #80918E;
    font-family: Inter;
    font-size: 15px;
    margin: 2px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-info-text {
    color: #848484;
    font-family: Mulish;
    font-size: 17px;
}

.footer-hr {
    width: 90%;
    height: 0.6px;
    background: #c4c4c4;
    border: none;
}

.soshal-icon {
    margin: 4px 8px;
}
