header {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 1920px;
    margin: 20px 40px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo {
    position: relative;
    left: 30px;
    width: 60px;
    height: 60px;
}

li {
    list-style: none;
}

.header_links {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 100px;
}

.selected {
    text-decoration: none;
}

.not-selected {
    text-decoration: none;
}
