.catalog_list {
  display: flex;
  flex-direction: column;

  max-width: 1920px;
  margin: 0px 40px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.catalog_list_show {
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 50px;
    height: 400px;
    flex-wrap: wrap;
  }

  .catalog_button_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
  }
  
  .back_arrow {
    width: 100px;
    height: 80px;
  }
  
  /* .back_arrow:hover {
    cursor: pointer;
  } */
  
  .arrow {
    width: 100px;
    height: 80px;
  }
  
  /* .arrow:hover {
    cursor: pointer;
  } */
  
  .filters_div {
    display: flex;
    color: azure;
    align-items: center;
    justify-content: space-between;
  }
  
  .filters {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    width: 600px;
    align-items: center;
  }
  
  .filter {
    border-radius: 20px;
    border: none;
    height: 35px;
    width: 100px;
    background: #fafafa;
    font-family: 'Open-Dyslexic', sans-serif;
    color: #2d383c;  text-decoration: none;
    align-items: center;
    padding-left: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card_view_button {
    text-decoration: none;
    display: flex;
    border: none;
    font-family: 'Open-Dyslexic', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(150deg, #87CEEB, #FFC0CB);  
    transition: background 0.3s ease;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #2d383c;
  }

  .card_view_button:hover {
    text-decoration: none;
    background: linear-gradient(150deg, rgba(135, 206, 235, 0.7), rgba(255, 192, 203, 0.7));
  }
  
  .search_div {
    display: flex;
    align-items: center;
    margin: 0 30px;
  }