.bank_list2 {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    height: 650px;
    flex-wrap: wrap;
  }
  
  .back_arrow {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 40px;
    bottom: 270px;
    top: 530px;
  }
  
  .back_arrow:hover {
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    right: 20px;
    top: 90px;
    width: 100px;
    height: 40px;
    top: 450px;
    color: white;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .filters_div {
    display: flex;
    border-bottom: 1px solid green;
    color: azure;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .filters {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    width: 600px;
    align-items: center;
  }
  
  .filter {
    border-radius: 10px;
    height: 45px;
    width: 200px;
    color: bisque;
    align-items: center;
    padding-left: 35px;
    background-color: rgb(97, 14, 14);
  }
  
  .card_view_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: bisque;
    border-radius: 10px;
    border: rebeccapurple solid 2px;
  }
  
  .search_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  }