.hero {
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: 20px 40px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 50px;
}

.text_div {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 50px;
}

.text_title {
    padding-bottom: 10px;
}
