.home_hero {
	display: flex;
    justify-content: space-evenly;
	align-items: center;
    max-width: 1920px;
    margin: 20px 40px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 50px;
}

.home_hero_image {
	width: auto;
    max-height: 300px;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home_hero_information {
	color: #131313;
}

.home_hero_title {
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 40px;
}


.home_hero_description {
	width: 620px;
}