.home_card_place {
	width: 25%;
	padding-top: 50px;
}

.home_card {
    perspective: 1000px;
}

.home_card_inner {
    width: 240px;
    height: 340px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
	margin: 0 auto;
}

.home_card:hover .home_card_inner {
    transform: rotateY(-180deg);
}

.home_card_front,
.home_card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home_card_front {
    transform: rotateY(0deg);
	text-align: center;
}

.home_card_back {
    transform: rotateY(180deg);
    background-color: #fff;
}

.home_card_img {
    width: 100%;
    height: auto;
	max-height: 251px;
    object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home_card_name {
    margin: 4px 0;
    font-size: 1.5em;
}

.home_card_p {
    font-size: 1em;
    line-height: 1.5;
	margin: 1px 0;
}