.bank_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	border: grey double 5px;
	background-color: rgb(83, 11, 33);
	color: rgb(216, 211, 200);
	width: 250px;
	height: 400px;
}

.div_img {
	display: flex;
	width: auto;
	height: 200px;
	overflow: hidden;
	padding-top: 50px;
}

.name {
	display: flex;
	justify-content: center;
	height: 0;
}

.description {
	display: flex;
	justify-content: center;
	padding-inline: 20px;
	align-items: center;
	text-align: justify;
	margin-bottom: 50px;
}